@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body {
    font-family: "Reddit Mono", sans-serif;
}

#calculator {
    min-height: 500px;
    width: 500px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
    padding: 2px;
}

.button-line {
    justify-content: stretch;
    align-items: stretch;
    display: flex;
    flex: 1 1 0;
}

#display {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 5px;
    font-size: 60px;
    overflow: auto;
    flex: 1 1 0;
    line-height: 100%;
}

#calculator,
.button-line {
    gap: 2px;
}

button {
    flex: 1 0 0;
    font-weight: bold;
    font-size: 25px;
    border-radius: 15px;
}

.operation {
    background-color: #364652;
    color: white;
}
