#calculator {
    min-height: 500px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2px;
    flex: 1 1 auto;
}

.button-line {
    justify-content: stretch;
    align-items: stretch;
    display: flex;
    flex: 1 1 0;
}

.button-line,
#display {
    min-height: 16%;
}

#display {
    display: flex;
    align-items: center;
    border: 1px solid grey;
    font-size: 60px;
    text-wrap: wrap;
    flex: 1 1 auto;
    line-height: 0%;
}

#calculator,
.button-line {
    gap: 2px;
}

button {
    flex: 1 0 0;
    font-weight: bold;
    font-size: 25px;
    background-color: #E9FFF9;
}

.operation {
    background-color: #364652;
    color: white;
}
